.hero { background-image: url('../img/mariage1.webp'); }
a { color: #8AB146; }
h3 { font-size: 16px; font-weight: lighter; }
h4 { font-size: 16px; color: #DBDBDB; font-weight: lighter; margin: 0.83em 0; }
